body{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color :#253C59;  
}

h1{
    font-size: 50px;
    color: white;
    font-family: "Lucida Console", "Courier New", monospace;
   
}

h3{
    font-size: 40px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}

p{
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}