body{
    text-align: center;
    background-color: black;
    padding-top: 18%;
}

h1{
    font-size: 50px;
    color: white;
}

h3{
    font-size: 40px;
    color: white;
}

p{
    font-size: 30px;
    color: white;
}