body{
    text-align: center;
    background-color: black;
    padding-top: 14%;
}
h2{
    font-size: 50px;
    color: white;
}
p{
    font-size: 50px;
    color: white;
}
.button {
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:black; 
    color:rgb(206, 206, 55) ; 
    border: 2px solid rgb(206, 206, 55);
  }
  
  .imput {
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:black; 
    color:rgb(206, 206, 55) ; 
    border: 2px solid rgb(206, 206, 55);
  }
  .form1{
    border: 10px;
    padding-left: 36%;
    border-radius: 5px;
    float: left
  }
  
  .form2{
    border: 10px;
    padding-right: 36%;
    border-radius: 5px;
    float: right
  }
  