body{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color :#253C59;   
    padding-top: 18%;
}

h2{
    font-size: 50px;
        font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}

.next{
    color:#F2AB27;
    text-align: center;
    padding: 100px 10px 10px 100px;
 margin: 10px 50px 50px 10px;
}
