body{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color :#253C59; 
}

h1{
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: white;
}
label {
    font-size: 30px;
    color: white;
}
.imput{
    border: 10px;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 10px 10px;
    border-radius: 5px;
}

.imputsub {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #2D4B73; 
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #F2AB27; 
    border: 2px solid #F2AB27 ;
  }
  
  div {
      padding-top: 18%;
  }
  