body{
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    background-color :#253C59;  
    padding-top: 18%;
}

h1{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 50px;
    color: white;
}

h2{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 40px;
    color: white;
}

p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
    color: white;
}